.consultation {
  margin: 0 11%;

  &__box{
    display: grid;
    grid-template-columns: 5fr 3fr;
    height: 350 * $em;
    align-items: center;
    margin-bottom: 30 * $rem;

  &__description {
    font-size: 40 * $em;
    width: 714 * $rem;
    margin-left: 30 * $rem;
    }
  }
  & > .separator {
    margin-top: 50 * $rem;
  }
}
