.header {
  background: $header-bg;
  height: 670 * $rem;

  .navbar {

    display: grid;
    font-size: 24 * $em;
    grid-template-columns: 3fr 6fr 2fr;
    align-items: center;
    justify-items: center;
    height: 100 * $rem;

    &__branch {
      color: $white;
      font-size: 24 * $em;
    }

    &__links  {
      justify-self: normal;
      display: flex;
      font-size: 17 * $em;
      font-weight: 500;

      &__link {
        color: $white;
        transition: 500ms;
        margin: 0 auto;

        &:hover {
          color: $font-light-gray;
        }
      }
    }

    &__qa-button {
      justify-self: flex-start;
      font-size: 16 * $em;
      color: $white;
      border-radius: 5 * $rem;
      padding: 8 * $rem 10 * $rem;
      border: 1px solid $white;
      background: $white-transparent;
      transition: 600ms;
      cursor: pointer;

      &:hover {
        background: #ffffffa1;
        color: $gray;
        border: solid 1px;
      }
    }
  }
}
