.header {
  background: $header-bg;
  height: 41.875rem;

  .navbar {
    display: grid;
    font-size: 1.5rem;
    grid-template-columns: 3fr 6fr 2fr;
    align-items: center;
    justify-items: center;
    height: 6.25rem;

    &__branch {
      color: $white;
      font-size: 1.5em;
    }

    &__links  {
      justify-self: normal;
      display: flex;
      font-size: 1em;
      font-weight: 500;

      &__link {
        color: $white;
        transition: 500ms;
        margin: 0 auto;

        &:hover {
          color: $font-light-gray;
        }
      }
    }

    &__qa-button {
      justify-self: flex-start;
      font-size: 1.25rem;
      color: $white;
      border-radius: 0.3125rem;
      padding: 0.5rem 0.625rem;
      border: 0.0625rem solid $white;
      background: $white-transparent;
      transition: 600ms;
      cursor: pointer;

      &:hover {
        background: #ffffffa1;
        color: $gray;
        border: solid 0.0625rem;
      }
    }
  }
}
