.header {
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 3fr 6fr 2fr;
  align-items: center;
  justify-items: center;
  background: linear-gradient(90deg, $light-pink 0%, $orange 100%);
  height: 100px;

  &__branch {
    color: $white;
    font-size: 1.5em;
  }

  &__links  {
    justify-self: normal;
    display: flex;
    font-size: 1em;
    font-weight: 500;

    &__link {
      color: $white;
      transition: 500ms;
      margin: 0 auto;

      &:hover {
        color: $font-light-gray;
      }
    }
  }
  &__qa-button {
    justify-self: flex-start;
    font-size: 20px;
    color: $white;
    border-radius: 5px;
    padding: 8px 10px;
    border: 1px solid $white;
    background: $white-transparent;
    transition: 600ms;
    cursor: pointer;
    &:hover {

      background: #ffffffa1;
      color: $gray;
      border: solid 1px;
    }
  }

}
