.price-seccion {
  background: $solf-white;
  padding-bottom: 300px;
  padding-top: 80px;
}
.list-of-price {
  @include section-size;
  margin-bottom: 45px;

  &__title {
    padding: 25px;
    font-size: 30px;
  }

  & > table {
    width: 100%;
    text-align: left;
    font-size: 20px;
    border-collapse: collapse;

    & > thead > tr {

      & > th:nth-child(1) {
        width: 320px;
        padding: 25px;
      }

      & > th:nth-child(2) {
        width: 320px;
      }
    }

    & > tbody > tr {
      background: $white;
      border-bottom: 2px solid $very-light-gray;

      & > td:nth-child(1) {
        width: 320px;
        padding: 25px;
      }
    }
  }
}
