$background:white;
$white: #fff;
$white-transparent: #ffffff1f;
$white-transparent2: #ffffffa1;
$gray: #383948;

$font-light-gray: #858585;
$main-color:white;
$secondary-color:red;
$orange: #ff9d60;
$light-pink: #ff7d7f;
