$white: #fff; // for fonts
$white-transparent: #ffffff1f;
$gray: #383948;
$font-light-gray: #858585; // for hovers

// for header
$header-bg: linear-gradient(192deg, #ff9d60 4%, #ae39d4 100%);
$quarter-of-circule: linear-gradient(180deg, #0000 6%, #ffffff47);
